<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Trackify</title>
<!-- Angular Material style sheet -->
<link rel="stylesheet" href="common/material/angular-material.min.css">
<link rel="stylesheet" href="common/md-data-table.min.css">

<script src="common/angular172/angular.js"></script>
<script src="common/angular172/angular-animate.js"></script>
<script src="common/angular172/angular-aria.js"></script>
<script src="common/angular172/angular-messages.js"></script>

<!-- Angular Material Library -->
<script src="common/material/angular-material.min.js"></script>
<script src="common/md-data-table.min.js"></script>
<script src="app.js"></script>

<style type="text/css">
.tabsdemoDynamicHeight md-content {
	background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
	background: #f6f6f6;
	border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
	background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
	margin-top: 0;
}

.red {
	color: red !important;
}

.green {
	color: green !important;
}
</style>
</head>
<body ng-app="trackifyApp">
	<div ng-cloak>
		<md-content> <md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Devices Live Status">
		<div ng-controller="liveStatusCtrl">
			<md-content class="md-padding"> 
			<table style="width: 100%;">
				<thead style="color:white;background-color:#4B0082;">
					<tr>
						<th>Sr No.</th>
						<th>All</th>
						<th>Up</th>
						<th>Down</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color:white;" ng-repeat="device in allDeviceDetails track by $index">
						<td>{{$index+1}}</td>
						<td ng-class='{red : !device.status, green: device.status}'><span>{{device.deviceName}}<br>{{device.deviceId}}</span></td>
						
						<td ng-class='{green: true}'><span ng-show="{{upDeviceDetails[$index].deviceName!=null}}">
						{{upDeviceDetails[$index].deviceName}}<br>{{upDeviceDetails[$index].deviceId}}<br>
						{{upDeviceDetails[$index].upTime | secondsToTime}} hr(s)<br>
						<span style="text-align: right;" ng-class='{red: true}'>{{upDeviceDetails[$index].downTime | secondsToTime}} hr(s)</span></span></td>
						
						<td ng-class='{red: true}'><span ng-show="{{downDeviceDetails[$index].deviceName!=null}}">
						{{downDeviceDetails[$index].deviceName}}<br>{{downDeviceDetails[$index].deviceId}}<br>
						<span ng-class='{green: true}'>{{downDeviceDetails[$index].upTime | secondsToTime}} hr(s)</span><br>
						{{downDeviceDetails[$index].downTime | secondsToTime}} hr(s)</span></td>
					</tr>
				</tbody>
			</table>
			 </md-content>
		</div>
		</md-tab> <!-- <md-tab label="Device Status History"> <md-content
			layout-padding>

		<div ng-controller="statusCtrl">
			<md-content layout-padding>
			<form name="statusForm">

				<div layout-gt-xs="row">
					<md-input-container class="md-block"> <label>IP
						Address</label> <input name="deviceId" ng-model="deviceId" ng-pattern='/^([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})$/' required> 
						<div ng-messages="statusForm.deviceId.$error" ng-show="statusForm.deviceId.$error">
      						<div ng-message="required">IP Address is required!</div>
      						<div ng-message="pattern">Valid IP Address is required</div>
    					</div>
						</md-input-container>
					<md-input-container class="md-block"> <md-button
						class="md-raised md-primary" ng-click="getDeviceStatus(statusForm.deviceId)" ng-disabled="statusForm.$invalid">Get Details</md-button> </md-input-container>
				</div>
			</form>

			<md-divider></md-divider>

			<table md-table>
				<thead md-head>
					<tr md-row>
						<th md-column>Status</th>
						<th md-column>Log Time</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row ng-repeat="device in deviceDetails">
						<td md-cell
							ng-class='{red : !device.status, green: device.status}'></td>
						<td md-cell>{{device.logTime}}</td>
					</tr>
				</tbody>
			</table>

			</md-content>
		</div>

		</md-content> </md-tab> --> </md-tabs> </md-content>
	</div>
</body>
</html>